<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Login - JavaLoucos</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <img src="logo.png" alt="Logo JavaLoucos" class="logo-topo">
    <h2>Associados JavaLoucos!</h2>   
    <form method="POST" action="/login">
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" placeholder="E-mail" required>
      
      <label for="password">Senha</label>
      <input type="password" name="password" id="password" placeholder="Senha" required>
      
      <button type="submit">Entrar</button>
    </form>

    <div class="links-container">
      <a href="/register">Cadastrar</a>
      <span class="separator">|</span>
      <a href="/forgot">Esqueci a senha</a>
    </div>
  </div>

  <div class="patrocinadores-container">
    <div class="patrocinadores-title">Nossos Patrocinadores:</div>
    <div class="patrocinadores-grid">
      <div class="patrocinadores-row">
        <img src="1l1c.png" alt="Patrocinador 1" class="patrocinador-img">
        <img src="1l2c.png" alt="Patrocinador 2" class="patrocinador-img">
        <img src="1l3c.png" alt="Patrocinador 3" class="patrocinador-img">
        <img src="1l4c.png" alt="Patrocinador 4" class="patrocinador-img">
      </div>
      <div class="patrocinadores-row">
        <img src="2l1c.png" alt="Patrocinador 5" class="patrocinador-img">
        <img src="2l2c.png" alt="Patrocinador 6" class="patrocinador-img">
        <img src="2l3c.png" alt="Patrocinador 7" class="patrocinador-img">
        <img src="2l4c.png" alt="Patrocinador 8" class="patrocinador-img">
        <img src="2l5c.png" alt="Patrocinador 13" class="patrocinador-img">
        <img src="2l6c.png" alt="Patrocinador 14" class="patrocinador-img">
      </div>
      <div class="patrocinadores-row">
        <img src="3l1c.png" alt="Patrocinador 9" class="patrocinador-img">
        <img src="3l2c.png" alt="Patrocinador 10" class="patrocinador-img">
        <img src="3l3c.png" alt="Patrocinador 11" class="patrocinador-img">
        <img src="3l4c.png" alt="Patrocinador 12" class="patrocinador-img">
        <img src="3l5c.png" alt="Patrocinador 15" class="patrocinador-img">
        <img src="3l6c.png" alt="Patrocinador 16" class="patrocinador-img">
      </div>
    </div>
  </div>
</body>
</html>